
.slate-photo {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.photo-slate {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

.sign-up-modal {
  top: 20%;
  left: 30%;
  background-color: blue;
  width: 600px;
  position:absolute;
  text-align: center;

}

.sign-up-header{
  background-color: aliceblue;
  color: black;
}