[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-mail = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-session = "*"
werkzeug = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
faker = "*"


[dev-packages]

[requires]
python_version = "3.8"
